*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: white;
}




#site_header {
    justify-content: center;
    align-content: center;
    background-color: #2C3E50;
}

#site_header p{
    margin: 0 7px;
}


/* UTILITY */

[class^=col] {
    justify-content: center;
    align-content: center;
}







/* MAIN */

.jumbo{
    background-color: #1ABC9C;
}


.linea{
    border: 1px solid white;
    width: 150px;
    height: 2px;
    align-self: center;
    margin: 0 20px;
}

.linea2{
    border: 1px solid black;
    width: 150px;
    height: 2px;
    align-self: center;
    margin: 0 20px;
}


.griglia img{
    width: 100%;
}

.jumbo h6{
    padding-top: 10px;
}

.img_smussata{
    border-radius: 20px;
}

.green{
    background-color: #1ABC9C ;
}